In [2]:
import pandas as pd
import pymongo

In [3]:
df = pd.read_csv('credit_card_fraud_dataset.csv')
df.head(3)

,TransactionID,CustomerID,TransactionTimestamp,Amount,Currency,MerchantCategory,TransactionType,CardPresent,HourOfDay,DayOfWeek,GeoLocation,DeviceType,IsInternational,CustomerTenureMonths,NumTransactionsLast24h,AvgTransactionAmount7d,IsNewDevice,IsFraud
0,TX0000000,CUST3000,2025-04-23T19:10:22,95148.43,INR,Fuel,POS,True,19,Wednesday,"Colemanmouth, DO",POS Terminal,False,117,5,25410.68,False,0
1,TX0000001,CUST9394,2025-03-08T13:03:05,91473.49,USD,Travel,ATM Withdrawal,True,13,Saturday,"Smithshire, VC",Mobile,False,2,4,17124.17,False,0
2,TX0000002,CUST8434,2025-05-21T16:03:26,23754.75,INR,Travel,ATM Withdrawal,True,16,Wednesday,"West Kathrynchester, SL",Desktop,False,78,3,1038.73,False,0

In [5]:
data = df.to_dict(orient = 'records')

In [ ]:
DD_NAME = "Credit-Card-Data"
COLLECTION_NAME = " creditcard"
CONNECTION_URL = "add-url"

In [7]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DD_NAME]
collection = data_base[COLLECTION_NAME]

In [8]:
rec = collection.insert_many(data)

In [9]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>